<section class="about-us pt-0" style="background-image: url(/travelin/images/bg/bg-trans.png)">
    <div class="container">
        <div class="about-image-box">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-6 mb-4 pe-4">
                    <div class="about-image overflow-hidden">
                        <img src="/travelin/images/travel1.png" alt="Bizimle Keşfedin" />
                    </div>
                </div>
                <div class="col-lg-6 mb-4 ps-4">
                    <div class="about-content text-center text-lg-start mb-4">
                        <h4 class="theme d-inline-block mb-0">Bizi Tanıyın</h4>
                        <h2 class="border-b mb-2 pb-1">Dünyanın Tüm Rotalarını Bizimle Keşfedin.</h2>
                        <p class="border-b mb-2 pb-2">
                            Yıllardır süregelen tecrübemizle, seyahat tutkunlarına unutulmaz anılar biriktirmeleri için rehberlik ediyoruz. Dünyanın en gizli kalmış köşelerinden en popüler destinasyonlarına kadar geniş tur ağımızla hizmetinizdeyiz.<br /><br />
                            Müşteri memnuniyeti odaklı yaklaşımımızla, her seyahati kişiye özel ve kusursuz bir deneyime dönüştürmeyi amaçlıyoruz. Profesyonel ekibimizle her adımda yanınızdayız.
                        </p>
                        <div class="about-listing">
                            <ul class="d-flex justify-content-between">
                                <li><i class="icon-location-pin theme"></i> Tur Rehberliği</li>
                                <li><i class="icon-briefcase theme"></i> Uygun Fiyatlar</li>
                                <li><i class="icon-folder theme"></i> Güvenilir Paketler</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="counter-main w-75 float-end">
                        <div class="counter p-4 pb-0 box-shadow bg-white rounded">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item border-end pe-4">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">20</h2>
                                            <span class="m-0">Yıllık Deneyim</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item border-end pe-4">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">530</h2>
                                            <span class="m-0">Tur Paketi</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item border-end pe-4">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">850</h2>
                                            <span class="m-0">Mutlu Müşteri</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">320</h2>
                                            <span class="m-0">Ödül Alan Hizmet</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white-overlay"></div>
</section>
