@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner pt-10 pb-0 overflow-hidden" style="background-image: url(/travelin/images/testimonial.png)">
    <div class="container">
        <div class="banner-in">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                    <div class="banner-content text-lg-start text-center">
                        <h4 class="theme mb-0">Dünyayı Keşfet</h4>
                        <h1>Hayalindeki Geziyi Bugün Planlamaya Başla!</h1>
                        <p class="mb-4">Size özel rotalar, uzman rehberler ve unutulmaz anılar için en uygun turları listeleyin.</p>

                        <div class="book-form">
                            <form asp-action="TourList" asp-controller="Tour" method="get">
                                <div class="row d-flex align-items-center justify-content-between">
                                    @* Varış Noktası *@
                                    <div class="col-lg-6 mb-2">
                                        <div class="form-group">
                                            <div class="input-box">
                                                <select name="destination" class="niceSelect">
                                                    <option value="">Nereye?</option>
                                                    @if (ViewBag.Destinations != null)
                                                    {
                                                        foreach (var item in (List<string>)ViewBag.Destinations)
                                                        {
                                                            <option value="@item">@item</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @* Tur Süresi *@
                                    <div class="col-lg-6 mb-2">
                                        <div class="form-group">
                                            <div class="input-box">
                                                <select name="duration" class="niceSelect">
                                                    <option value="">Tur Süresi</option>
                                                    @if (ViewBag.Durations != null)
                                                    {
                                                        foreach (var item in (List<string>)ViewBag.Durations)
                                                        {
                                                            <option value="@item">@item</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    @* Arama Butonu *@
                                    <div class="col-lg-12">
                                        <div class="form-group mb-0 text-center">
                                            <button type="submit" class="nir-btn w-100" style="border:none;">
                                                <i class="fa fa-search mr-2"></i> Şimdi Ara
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="banner-image">
                        <img src="/travelin/images/travel.png" alt="Seyahat Görseli" />
                    </div>
                </div>
            </div>

            @await Component.InvokeAsync("_HomeCategoryComponentPartial")
        </div>
    </div>
</section>

@await Component.InvokeAsync("_HowItWorksComponentPartial")

@await Component.InvokeAsync("_AboutComponentPartial")