<!DOCTYPE html>

<html lang="en">

    @await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>

    @await Component.InvokeAsync("_DefaultHeaderComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultLoginModalComponentPartial")

    @await Component.InvokeAsync("_DefaultScriptComponentPartial")


</body>

</html>