<section class="about-us pb-6 pt-6" style="background-image: url(/travelin/images/shape4.png); background-position: center">

    <div class="container">
        <div class="section-title mb-6 w-50 mx-auto text-center">
            <h4 class="mb-1 theme1">Mükemmel Tur İçin 3 Adım</h4>
            <h2 class="mb-1">Seyahat <span class="theme">Kusursuzluğunu</span> Keşfedin</h2>
            <p>Hayalinizdeki tatili planlamak hiç bu kadar kolay olmamıştı. Sizin için her detayı titizlikle düşünüyoruz.</p>
        </div>

        <div class="why-us">
            <div class="why-us-box">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-flag theme"></i>
                                </div>
                                <h4><a href="about.html">Ne Yapmak İstediğinizi Söyleyin</a></h4>
                                <p class="mb-0">Nasıl bir deneyim hayal ettiğinizi bize iletin, size en uygun seçenekleri sunalım.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-location-pin theme"></i>
                                </div>
                                <h4><a href="about.html">Rotalarınızı Bizimle Paylaşın</a></h4>
                                <p class="mb-0">Görmek istediğiniz yerleri belirleyin, rotanızı profesyonelce optimize edelim.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-directions theme"></i>
                                </div>
                                <h4><a href="about.html">Tercihlerinizi Belirleyin</a></h4>
                                <p class="mb-0">Konaklamadan ulaşıma kadar tüm detayları kendi zevkinize göre özelleştirin.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-compass theme"></i>
                                </div>
                                <h4><a href="about.html">%100 Güvenilir Tur Acentesi</a></h4>
                                <p class="mb-0">Yılların verdiği tecrübe ve mutlu müşteri referanslarımızla hizmetinizdeyiz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white-overlay"></div>
</section>